.table1{
    margin-left: auto;
    margin-right: auto;
   width: 80%;
    
}
table .heading1{
    background-color:black;
    color: white;
}

.cart{
    background-color: white;
}

.cart1{
    background-color: red;
    width: 100%;
}

button{
    background-color: green;
    width: 100%;
}
p{
    
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}